// --------------------------------
// Colours
// --------------------------------
$main-colour: #212121;
$accent-colour: #d84445;

// --------------------------------
// Typography
// --------------------------------
$body-font: Georgia, serif;
$heading-font: sans-serif;
